<div class="registration-form">
    <form>
        <div class="form-icon" style="background: none;">
            <img src="https://www.dcsnetworks.sg/uploads/7/9/4/7/79473268/6711601.jpg" />
        </div>
        <p style="text-align: center;color: red;font-size: x-large;">Successfully submitted</p>
    </form>
</div>